* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

@media (min-width: 386px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }
}

nav {
  background-color: white;
  margin: 0;
  padding: 4vh 10vw;
  -webkit-box-shadow: 2px 0 6px #757575;
          box-shadow: 2px 0 6px #757575;
}

@media (min-width: 768px) {
  nav {
    padding: 5vh 10vw;
  }
}

nav.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-header .hamburger {
  cursor: pointer;
  height: 22px;
}

@media (min-width: 386px) {
  nav .nav-header .hamburger {
    height: 22px;
  }
}

nav .nav-links-container {
  z-index: 999;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .nav-links-container .nav-links {
  width: 100%;
  text-align: center;
  z-index: 1;
}

nav .nav-links-container .nav-links div {
  margin: 5vh 0;
}

nav .nav-links-container .nav-links div .link {
  position: relative;
}

nav .nav-links-container .nav-links div .link::after {
  content: "";
  width: 0%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #84c0c6;
  z-index: -99;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

nav .nav-links-container .nav-links div .link:hover::after {
  width: 100%;
}

nav .nav-links-container .nav-links .contacts {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-links-container .nav-links .contacts div {
  margin: 0 2vw;
  height: 23.4px;
}

nav .nav-links-container .nav-links .contacts div svg {
  width: auto;
  height: 100%;
}

@media (min-width: 786px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-header {
    display: inline-block;
  }
  nav .nav-header .hamburger {
    height: 22px;
    display: none;
  }
  nav .nav-links-container {
    height: 100%;
    width: auto;
  }
  nav .nav-links-container .nav-links {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  nav .nav-links-container .nav-links div {
    margin: 0 2vw;
  }
  nav .nav-links-container .nav-links .contacts {
    margin: 0;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  text-align: center;
  padding: 5vh 10vw;
}

.home h3 {
  font-weight: 500;
}

.home p {
  margin-top: 5vh;
  font-weight: 300;
}

.home p span {
  font-weight: 500;
}

.home .left {
  padding: 5vh 0;
}

.home .left .workButton {
  margin-top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .left .workButton p {
  margin: 0;
  font-weight: normal;
}

.home .left .workButton .workBtnImg {
  height: 24px;
}

.home .right {
  display: none;
}

@media (min-width: 386px) {
  .home .right {
    display: none;
  }
  .home .left .workBtnImg {
    height: 32px;
  }
}

@media (min-width: 768px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5vh 0;
  }
  .home .left {
    text-align: left;
    padding-left: 10vw;
    width: 70vw;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .home .left .workButton {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .home .left .workButton .workBtnImg {
    height: 48px;
  }
  .home .right {
    display: inline;
    padding-left: 10vw;
  }
}

.projects {
  padding: 0 10vw;
}

.projects .title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5vh;
}

.projects .projList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projList .proj {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vw;
  margin: 2vh 0;
  position: relative;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.projects .projList .proj.notDone {
  border: 1px solid #39393a;
  pointer-events: none;
}

.projects .projList .proj .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  width: 80vw;
  height: 80vw;
  color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #95d8df;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  font-weight: bold;
}

.projects .projList .proj .overlay.notDone {
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  font-weight: 400;
}

.projects .projList .proj:hover {
  -webkit-box-shadow: 2px 0 5px black;
          box-shadow: 2px 0 5px black;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.projects .projList .proj:hover .overlay {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 386px) {
  .projects .projList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects .projList .proj {
    margin: 2vh 2vw;
    width: 36vw;
    height: 36vw;
  }
  .projects .projList .proj .overlay {
    height: 36vw;
    width: 36vw;
  }
}

@media (min-width: 768px) {
  .projects .projList .proj {
    width: 22vw;
    height: 22vw;
  }
  .projects .projList .proj .overlay {
    height: 22vw;
    width: 22vw;
  }
}

.otherWork {
  padding: 5vh 10vw;
  text-align: center;
}

.otherWork .title {
  padding-bottom: 5vh;
}

.otherWork .work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.otherWork .work-list .work {
  margin-bottom: 2vh;
}

.otherWork .work-list .work img:hover {
  -webkit-box-shadow: 2px 2px 5px #39393a;
          box-shadow: 2px 2px 5px #39393a;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media (min-width: 768px) {
  .otherWork .work-list .work {
    width: 45%;
  }
  .otherWork .work-list .work.full {
    width: 100%;
  }
}

.otherWork .work-list .work img {
  height: auto;
}

@media (min-width: 768px) {
  .otherWork .work-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer {
  margin-top: 10vh;
  padding: 5vh 10vw;
  background-color: #39393a;
  text-align: center;
  color: white;
}

footer .title {
  padding-bottom: 2vh;
  text-align: center;
}

footer .Icons {
  color: #e4e4e4;
}

footer .Icons a {
  padding-left: 2vw;
  color: #e4e4e4;
}

footer .Icons .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */