.Intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 2vh 10vw;
}

.Intro .left {
  padding-bottom: 2vh;
}

.Intro .left .title {
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .Intro .left .title {
    text-align: left;
  }
}

.Intro .left .desc {
  padding: 2vh 2vw;
}

.Intro .left .tools {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
}

.Intro .left .tools .tool {
  margin-right: 2vw;
}

.Intro .left .tools img {
  width: auto;
}

.Intro .right {
  padding: 2vh 0;
}

.Intro .right li {
  margin: 1.5vh 0;
}

.Intro .right a {
  position: relative;
}

.Intro .right a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 0%;
  background: #e9624da8;
  z-index: -99;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.Intro .right a:hover::after {
  width: 100%;
}

@media (min-width: 768px) {
  .Intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    place-content: center;
    min-height: 80vh;
    padding: 2vh vw5;
  }
  .Intro .left {
    display: -ms-grid;
    display: grid;
    place-content: center;
    width: 50vw;
    padding-right: 10vw;
  }
  .Intro .left .desc {
    padding: 2vh 0;
  }
  .Intro .left .tools {
    text-align: left;
    height: 36px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Intro .right {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 0 0;
  }
}

.Overview .image {
  width: 100vw;
}

.Overview .image img {
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.designDetails {
  padding: 5vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.designDetails .title {
  font-weight: bold;
  font-size: 24px;
  padding: 3vh 0;
}

.designDetails .typography .font {
  padding-bottom: 2vh;
  font-weight: 500;
  font-size: 22px;
}

.designDetails .typography .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding: 3vh 0;
  font-family: "Roboto", sans-serif;
}

.designDetails .typography .type .name {
  padding-right: 10vw;
}

.designDetails .Buttons {
  padding: 2vh 0;
}

.designDetails .Buttons .row_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.designDetails .Buttons .row_buttons .btn {
  padding: 0 2vw;
}

.designDetails .mockup {
  padding-top: 7vh;
}

@media (min-width: 768px) {
  .designDetails .title {
    font-size: 30px;
  }
  .designDetails .typography .font {
    font-size: 26px;
    font-weight: 400;
  }
}

@media (min-width: 1200px) {
  .designDetails {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5vh 5vw;
    text-align: left;
  }
  .designDetails .typography .type .name {
    padding-right: 5vw;
  }
  .designDetails .colors .colorPallete img {
    height: auto;
  }
  .designDetails .colors .Buttons {
    padding-top: 5vh;
  }
  .designDetails .colors .Buttons .row_buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .designDetails .colors .Buttons .btn {
    padding: 0 2vw 0 0;
  }
  .designDetails .mockup {
    padding-right: 3vw;
  }
}

.features {
  padding: 2vh 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .left .feature_list {
  width: 50vw;
  padding-left: 10vw;
}

@media (min-width: 768px) {
  .features .left .feature_list {
    padding-left: 5vw;
  }
}

.features .left .feature_list .feature .desc {
  font-weight: 100;
}

.features .right {
  padding: 0 10vw;
}

@media (min-width: 768px) {
  .features .right {
    padding: 0 5vw;
  }
}

.features .right .rectangle {
  width: 10vw;
  height: 80vh;
  background-color: #1d617a;
  border-radius: 20px;
  position: relative;
}

.features .right .rectangle .gif {
  height: 90%;
  width: 180%;
  position: absolute;
  left: 5%;
  top: 5%;
  border-radius: 10px;
}

.userFlow .title {
  text-align: center;
  padding: 2vh 10vw;
  font-weight: bold;
  font-size: 24px;
}

@media (min-width: 768px) {
  .userFlow .title {
    text-align: left;
    padding: 2vh 5vw;
    font-size: 30px;
  }
}

.userFlow_img {
  width: 100vw;
}

.userFlow_img img {
  height: auto;
}

.code {
  padding: 2vh 0;
  text-align: center;
}

.code .title {
  text-align: center;
  padding: 2vh 10vw;
  font-weight: bold;
  font-size: 24px;
}

@media (min-width: 768px) {
  .code .title {
    text-align: left;
    padding: 2vh 5vw;
    font-size: 30px;
  }
}

.code .content {
  font-weight: 100;
  padding: 2vh 10vw;
}

@media (min-width: 768px) {
  .code .content {
    padding: 2vh 5vw;
  }
}

@media (min-width: 768px) {
  .code {
    text-align: left;
  }
}

.code a.Covid_code {
  padding: 0 10vw;
  position: relative;
}

@media (min-width: 768px) {
  .code a.Covid_code {
    padding: 0 5vw;
  }
}

.code a.Covid_code::after {
  content: "";
  z-index: -99;
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #9ac5e2;
  top: 0;
  left: 0;
  -webkit-transition: width linear 0.3s;
  transition: width linear 0.3s;
}

.code a.Covid_code:hover::after {
  width: 100%;
}

.nextProject {
  padding: 1vh 5vw;
  text-align: right;
  font-weight: bold;
}

@media (min-width: 768px) {
  .nextProject {
    padding: 1vh 10vw;
  }
}
/*# sourceMappingURL=Covid_style.css.map */